*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color:white;

}

/* nav bar */
.nav-bar .container{
    background-color: rgba(255, 255, 255, 0.596);
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.1px 10px rgb(124, 124, 124);    
}
.nav-bar .icon{
    display: flex;
    cursor: pointer;
}
.nav-bar .container .icon h3{
    font-family: 'Goldman';
    margin:auto 20px;
}
.nav-bar .container .icon .icon-img{
    height: 50px;
}
.nav-bar .container .icon{
    padding: 5px;
    padding-left: 10px;
}
ul{
    list-style:none;
}
.container-enlaces ul{
    font-family: 'Josefin', Geneva, Verdana, sans-serif;
    display: flex;
}
.container-enlaces ul li{
    margin: 0 20px 0 20px;
    padding: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    color:rgb(12, 163, 209);
    border-color: rgb(12, 163, 209);
    border-radius: 10px;
    box-shadow: transparent;
    border-style: solid;
    transition: background-color 0.25s ease;
}
.container-enlaces ul li:hover{
    transition: transform 0.25s 0.1s ease;
    background-color: rgb(12, 163, 209);
    color: white;
    box-shadow:2px 2px 6px rgb(124, 124, 124);
    transform:scale(1.035);
    cursor: pointer;
}
/* nav bar */

/* form */
.form-container {
   margin: 5rem; 
   font-family: 'Josefin', Geneva, Verdana, sans-serif;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 10px;
}
input[type=text], select, textarea {
    width:100%;
    padding:12px;
    border: 1px solid #ccc;
    
    border-radius:4px;

    box-sizing:border-box;

    margin-top:6px;
    margin-bottom:16px;

    resize: vertical;
}
textarea{
    min-height:100px;
} 
input[type=submit] {
    background-color: white;
    color:rgb(12, 163, 209);
    padding: 12px 20px;
    border-color: rgb(12, 163, 209);
    border-radius: 10px;
    box-shadow: transparent;
    border-style: solid;

    cursor: pointer;
}
/* form */




/* footer */
footer{
    display:inline-block;
    box-shadow: 0 -8px 6px -7px rgba(141, 139, 139, 0.685);
    bottom: 0;
    width: 100%;
    height: 2rem; 
    margin-top:3rem;
}
.redes{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:50%;
    margin: 0px auto 0px auto;
    padding:11.5px 100px 11.5px 100px;
}
.icono-fb{
    width: 2.5em;
    margin:10px;
}
.icono-ig{
    width: 2.5em;
    margin:10px;
}
.icono-tw{
    width: 2.5em;
    margin:10px;
}
.derechos{
    display:block;
    font-family: sans-serif;
    margin:0px;
    font-size: 0.8rem;
    height: 17px;
    width: 100%;
    text-align: center;
    background-color:rgb(12, 163, 209);
}

/* footer */
