*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color:white;

}
/* nav bar */
.nav-bar .container{
    background-color: rgba(255, 255, 255, 0.596);
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.1px 10px rgb(124, 124, 124);    
}
.nav-bar .icon{
    display: flex;
    cursor: pointer;
}
.nav-bar .container .icon h3{
    font-family: 'Goldman';
    margin:auto 20px;
}
.nav-bar .container .icon .icon-img{
    height: 50px;
}
.nav-bar .container .icon{
    padding: 5px;
    padding-left: 10px;
}
ul{
    list-style:none;
}
.container-enlaces ul{
    font-family: 'Josefin', Geneva, Verdana, sans-serif;
    display: flex;
}
.container-enlaces ul li{
    margin: 0 20px 0 20px;
    padding: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    color:rgb(12, 163, 209);
    border-color: rgb(12, 163, 209);
    border-radius: 10px;
    box-shadow: transparent;
    border-style: solid;
    transition: background-color 0.25s ease;
}
.container-enlaces ul li:hover{
    transition: transform 0.25s 0.1s ease;
    background-color: rgb(12, 163, 209);
    color: white;
    box-shadow:2px 2px 6px rgb(124, 124, 124);
    transform:scale(1.035);
    cursor: pointer;
}
/* nav bar*/

/* hero */
.encabezado{
    background-color: white;
    width: 90%;
    height: 500px;
    margin-top:100px;
    margin-left: auto;
    margin-right:auto;
    text-align:center;
    font-size: 2rem;
}
.encabezado header{
    background-image: url(img/img-encabezado.jpg);
    background-size:cover;
    background-attachment: fixed;
}
.imagen-presentacion{
    width: auto;
    height: 500px;
    margin-top:100px;
    margin-left: auto;
    margin-right:auto;
    background: radial-gradient(circle, rgba(133, 133, 133, 0.452) 11%, rgb(12, 163, 209) 100%);
    padding-top:100px;
    box-shadow: 0 0 10px 2px rgb(124, 124, 124);
}
.imagen-presentacion h1{
    font-family: 'Goldman';
    font-size: 10rem;
}
.imagen-presentacion h2{
    font-family: 'Fredoka One';
    font-weight: 600;
    padding: 40px 20px 40px 20px;
}
.tarjetas{
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width:90%;
    flex-basis: 100%;
    margin-left: auto;
    margin-right:auto;
    font-family:'Josefin Sans';
}
.icono-heladera{
    width:5em;
}
.icono-aire{
    width:5em;
}
.icono-gas{
    margin-right:20px;
    width:5em;
}
.tarjeta-heladera{
    box-shadow: 0 0 10px 1px rgba(153, 152, 152, 0.685);
    min-width: 200px;
    max-width:450px;
    margin: 100px 20px;
    font-size:1rem;
    padding: 20px;
    text-align:center;
}
.tarjeta-aire{
    box-shadow: 0 0 10px 1px rgba(153, 152, 152, 0.685);
    min-width: 200px;
    max-width:450px;
    height: 100%;
    margin: 100px 20px;
    font-size:1rem;
    padding:20px;
    text-align:center;
}
.tarjeta-gas{
    box-shadow: 0 0 10px 1px rgba(153, 152, 152, 0.685);
    min-width: 200px;
    max-width:450px;
    margin: 100px 20px;
    font-size:1rem;
    padding: 20px;
    text-align:center;
}
.tarjetas h3{
    margin-top:25px;
}
/* hero */


/* footer */
footer{
    box-shadow: 0 -8px 6px -7px rgba(141, 139, 139, 0.685);
    position: absolute;
    bottom: -10;
    width: 100%;
    height: 2rem; 
}
.redes{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:50%;
    margin: 0px auto 0px auto;
    padding:11.5px 100px 11.5px 100px;
}
.icono-fb{
    width: 2.5em;
    margin:10px;
}
.icono-ig{
    width: 2.5em;
    margin:10px;
}
.icono-tw{
    width: 2.5em;
    margin:10px;
}
.derechos{
    display:block;
    font-family: sans-serif;
    margin:0px;
    font-size: 0.8rem;
    height: 17px;
    width: 100%;
    text-align: center;
    background-color:rgb(12, 163, 209);
}

/* footer */















