<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buen Frio</title>
    <link rel="icon" href="../img/icono-copo.png">

    <link rel="stylesheet" href="../styles/style_main.css" />
   
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@500&family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">    
</head>
<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="container">
                <div class="icon" id="mainBtn">
                    <img src="../img/icono-copo.png" alt="" class="icon-img">
                    <h3>Buen Frio</h3>
                </div>
                <div class="container-enlaces">
                    <ul class="enlaces">
                        <li class="about">Sobre nosotros</li>
                        <li id="contactoBtn" class="contacto">Contacto</li>
                    </ul>
                </div>
            </div>
        </nav>
       <div class="encabezado">
           <header>
                <div class="imagen-presentacion">
                    <h1>Buen Frio</h1>
                    <h2>"Nos encargamos de la refrigeracion de tu hogar."</h2>
                </div>
           </header>
        </div>
        <section class="tarjetas">
            <div class="tarjeta-heladera">
             <img src="../img/icono-heladera.png" alt="" class="icono-heladera">
             <h3>Revisamos y reparamos tu heladera/freezer, ya sea frost y no-frost.</h5>
            </div>
            <div class="tarjeta-aire">
                 <img src="../img/icono-aire.png" alt="" class="icono-aire">
                 <h3>Damos service completo de reparacion de aire acondicionado.</h3>
            </div>
            <div class="tarjeta-gas">
                 <img src="../img/icono-gas.png" alt="" class="icono-gas">
                 <h3>Hacemos cargas completas y parciales de heladeras y aires acondicionados.</h3>
            </div>
        </section>
        <footer> 
            <div class="container">
                <ul class="redes">
                    <li><a href ="https://www.facebook.com/"><img src="../img/icono-fb.png" alt="" class="icono-fb"></a></li>
                    <li><a href ="https://www.instagram.com/"><img src="../img/icono-ig.png" alt="" class="icono-ig"></a></li>
                    <li><a href ="https://twitter.com/"><img src="../img/icono-tw.png" alt="" class="icono-tw"></a></li>
                </ul>
            </div>
            <div class="derechos">
              <h3>© 2021 Copyright:francogm98@hotmail.com.ar</h3>
            </div>
        </footer>
    </div>
    <script src="../scripts/main.script.js"></script>
</body>
</html>
